<%# Write your code here! %>
Welcome!
If you tell me your name I can say hi!
<form>
  Name:
  <input type="text" name="user_name"><br>
  <input type="submit" value = "Submit" formaction="greet">
</form>
